@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&family=Sansita+Swashed:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: auto;
}

/* navbar */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 20px;
}

.nav ul li a {
    color: #4d4d4d;
    font-family: "Inter", sans-serif;
}

.nav-button button {
    background-color: #4caf4f;
    color: #fff;
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

/* navbar end */
/* home start */
.home {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.yazilar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Inter", sans-serif;
}

.yazilar h1 {
    font-size: 50px;
    color: #4D4D4D
}

.yazilar h2 {
    font-size: 50px;
    color: #4caf4f
}

.yazilar p {
    color: #717171;
}

.btn {
    padding: auto;
    background-color: #4caf4f;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    width: 89.55px;
    height: 36.49px;
    border: none;


}

/* home end  */